<!--
  Copyright (c) 2019 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->
<section id="our-value" class="row row-gray section padding-top-30">
  <div class="container">
    <p>The Eclipse Foundation has been a partner in many publicly funded research projects since 2013. We help organizations to successfully create, publish, and sustain an open source software platform, making the results of the research projects available for commercial or public exploitation. </p>
    <p>The Eclipse Foundation welcomes the opportunity to work with new industry research projects. If you would like more information please contact us at research@eclipse.org</p>
    <p>Learn more about both current and successfully completed projects where we have partnered.</p>
  	<h2>What we offer:</h2>
    <ul class="list-inline text-center clearfix">
      <li class="col-xs-12 col-md-4 col-md-offset-2 match-height-item-by-row">
        <i data-feather="thumbs-up" stroke-width="1" height="50" width="50"></i>
        <h3>Sustainability</h3>
        <p>for research results (source code, documentation, …)</p>
      </li>
      <li class="col-xs-12 col-md-4 match-height-item-by-row">
        <i data-feather="corner-up-right" stroke-width="1" height="50" width="50"></i>
        <h3>Guidance</h3>
        <p>in creating and managing an open source project</p>
      </li>
      <li class="col-xs-12 col-md-4 match-height-item-by-row">
        <i data-feather="book-open" stroke-width="1" height="50" width="50"></i>
        <h3>Expertise</h3>
        <p>in community building and support</p>
      </li>
      <li class="col-xs-12 col-md-4 match-height-item-by-row">
        <i data-feather="volume-2" stroke-width="1" height="50" width="50"></i>
        <h3>Eclipse Ecosystem</h3>
        <p>visibility in, and interaction with the wider ecosystem</p>
      </li>
      <li class="col-xs-24 col-md-4 match-height-item-by-row">
        <i data-feather="users" stroke-width="1" height="50" width="50"></i>
        <h3>Open Collaboration</h3>
        <p>best practices</p>
      </li>
    </ul>
    <!--
    <div class="row text-center margin-top-20 margin-bottom-20">
      <a class="btn btn-primary" href="#" >Learn more about our value proposition!</a>
    </div>
     -->
  </div>
</section>
