<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div class="row margin-top-60 margin-bottom-60">
  <div class="container">
    <div class="col-md-6 display-flex align-items-center justify-content-center match-height-item-by-row">
      <img class="img" src="images/orbit.png" alt="" />
    </div>
    <div class="col-md-18 match-height-item-by-row">
      <hgroup>
        <h1>Open Source Program Offices</h1>
        <div class="h2 text-primary-light">
          Managing Open Source for Your Organization
        </div>
      </hgroup>
    </div>
  </div>
</div>
<div class="row bg-neutral-flat padding-top-60 padding-bottom-60">
  <div class="container">
    <div class="col-sm-12 match-height-item-by-row">
      {{ .Inner | markdownify }}
    </div>
    <div class="col-sm-10 col-sm-offset-2 display-flex align-items-center justify-content-center match-height-item-by-row">
      <img class="img img-responsive" src="images/ospo-alliance.svg" alt="OSPO Alliance" /> 
    </div>
  </div>
</div>
