<!-- Delete this file before going to production. Using relative links for testing on staging -->
{{ $footer_section_other_class := .Params.footer_section_other_class | default .Site.Params.footer_section_other_class | default "footer-section col-md-5 col-sm-8" }}
<section id="footer-more" class="{{ $footer_section_other_class }}">
  <div class="menu-heading">{{ i18n "footer-other-section-text" }}</div>
  <ul class="nav">
    <li><a href="/security/">{{ i18n "footer-other-report-vulnerability-text" }}</a></li>
    <li><a href="https://status.eclipse.org/">{{ i18n "footer-other-status-text" }}</a></li>
    <li><a href="/org/foundation/contact.php">{{ i18n "footer-other-contact-text" }}</a></li>
    <li><a href="/projects/support/">{{ i18n "footer-other-support-text" }}</a></li>
  </ul>
</section>
